# Streamlit for the UI
streamlit>=1.24.0

# Data handling & numerics
pandas>=1.5.0
numpy>=1.23.0

# Charting libraries
altair>=4.2.0
plotly>=5.15.0

# Excel file support
openpyxl>=3.0.0

# Forecasting
prophet>=1.1.1
cmdstanpy>=1.0.0

# Scientific & Statistical
scipy>=1.9.0
